extends layout

block title
    title Push Goods

block append scripts
    script(src='/socket.io/socket.io.js')
    script.
        $(function () { 
            var socket = io('localhost:3000/customer');
            $('.product').click(function () {
                socket.emit('product:view', $(this).attr('data-id'));
            });
            socket.on('product:push', function (product) {
                $('#push').append('<li>' + product.name + '</li>');
            });
        });

block content
    h1 Push Goods
    p Push goods to customer they really need in real time.
    
    h2 Pushed Products
    ul#push

    h2 Products
    ul
        each product in products
            li.product(data-id=product.id)= product.name
