doctype html
html
    head
        block title
        block style
        block scripts
            script(src='http://code.jquery.com/jquery-1.11.1.js')
    body
        block content
        footer
            p &copy; 2015 Alexey Melnikov. Open source 
                a(href='https://github.com/alexey-ernest/push-goods') GitHub
                